{% extends 'base.html.twig' %}

{% block title %}Curriculum vitae Timothé Périgois{% endblock %}

{% block body %}

<div class ="container">
    <header>
        <div class="title">
            <h1>Timothé Périgois</h1>
            <h2>Développeur Back-end</h2>
            <h2>PHP | Symfony</h2>
        </div>
        <div class ="banner">
            <div class ="imgPerso">
                <img href="#" alt="imgPerso">
            </div>
            <div>
                <ul class="contact">
                    <li>Permis A et B</li>
                    <li>06 47 87 71 36</li>
                    <li>Timothe.perigois@gmail.com</li>
                    <li><a href='https://github.com/Timo-Pe/'  target="_blank" >github.com/timo-pe</a></li>
                    <li><a href='https://www.linkedin.com/in/timothe-perigois/' target="_blank">linkedin.com/in/timothe-perigois</a></li>
                </ul>
            </div>
            <div class="qrcode">
                <img href={{ asset("/assets/img/QRcode.png") }} alt="qrcode">
            </div>
        </div>
        
    </header>
    <section class="left-panel">
        <div class="education">
        <h3>Formations</h3>
        {% for years, education in educationList %}
            <div>
                <span class="years">{{years}}</span>
                <p>{{education}}</p>
            </div>
            
            {% endfor %}
        <div class="experiences">
            <h3>Experiences</h3>
            {% for years, experiences in experiencesList %}
            <div>
                <span class="years">{{years}}</span>
                {% for experience in experiences %}
                    <p>{{experience}}</p>
                {% endfor %}
            </div>
            {% endfor %}
            </div>
        </div>
    </section>

    <section class ="right-panel">
        <div class ="development-technology">
            <h4>technologies de developpement</h4>
            <ul>
                {% for technology in technologiesList %}
                    <li>{{technology}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class ="software-skills">
        <h4>Compétences informatiques</h4>
            <ul>
            {% for skill in skillsList %}
                <li>{{skill}}</li>
            {% endfor %}
            </ul>
        </div>
        <div class ="other-skills">
        <h4>autres competences</h4>
            <ul>
                {% for otherSkill in otherSkillsList %}
                    <li>{{otherSkill}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class ="hobbies">
        <h4>Loisirs</h4>
            <ul>
                {% for hobbies in hobbiesList %}
                    <li>{{hobbies}}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
</div>
{% endblock %}
