{% extends 'base.html.twig' %}

{% block title %}Curriculum vitae Timothé Périgois{% endblock %}

{% block body %}

<div class ="container">
    <header>
        <div class="title">
            <h1>Timothé Périgois</h1>
            <h2>Développeur Back-end</h2>
            <h2>PHP | Symfony</h2>
        </div>
         
        <div class ="banner">
        <img class="img-perso" src={{ asset('assets/img/cv-photo-web-small.png')}}>
                <ul class="contact">
                    <li><i class="bi bi-truck"></i>Permis A et B</li>
                    <li><i class="bi bi-phone"></i>06 47 87 71 36</li>
                    <li><i class="bi bi-envelope"></i>Timothe.perigois@gmail.com</li>
                    <li><a href='https://github.com/Timo-Pe/'  target="_blank" ><i class="bi bi-github"></i>github.com/timo-pe</a></li>
                    <li><a href='https://www.linkedin.com/in/timothe-perigois/' target="_blank"><i class="bi bi-linkedin"></i> linkedin.com/in/timothe-perigois</a></li>
                </ul>
                <img class="qr-code" src={{ asset('assets/img/qr-code.png')}}>
        </div>
        
    </header>
    <section class ="panel">
        <section class="left-panel">
            <div class="education">
            <h3>Formations</h3>
            <ul>
            {% for years, education in educationList %}
                
                    <li><p><span class="years">{{years}}</span>{{education}}</p></li>
                
                {% endfor %}
            </ul>
            <div class="experiences">
                <h3>Experiences</h3>
                <div>
                {% for years, experiences in experiencesList %}
                    <span class="years">{{years}}</span>
                    {% for experience in experiences %}
                        <p>&bull; {{experience}}</p>
                    {% endfor %}
                {% endfor %}
                </div>
                </div>
            </div>
        </section>

        <section class ="right-panel">
            <div class ="development-technology">
                <h4>technologies de developpement</h4>
                <ul>
                    {% for technology in technologiesList %}
                        <li><i class="bi bi-caret-right"></i>{{technology}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class ="software-skills">
            <h4>Compétences informatiques</h4>
                <ul>
                {% for skill in skillsList %}
                    <li><i class="bi bi-caret-right"></i>{{skill}}</li>
                {% endfor %}
                </ul>
            </div>
            <div class ="other-skills">
            <h4>autres competences</h4>
                <ul>
                    {% for otherSkill in otherSkillsList %}
                        <li><i class="bi bi-caret-right"></i>{{otherSkill}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class ="hobbies">
            <h4>Loisirs</h4>
                <ul>
                    {% for hobbies in hobbiesList %}
                        <li><i class="bi bi-caret-right"></i>{{hobbies}}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </section>
</div>
{% endblock %}
